/* General */
.App {
  background-color: inherit;
  padding-bottom: 50px;
}

.App-logo {
  display: block;
  max-width: 75%;
  margin: 75px auto;
}

.btn {
  background-color: #1d8fd5;
  color: #f8f1ff;
  width: 80%;
  margin: 30px auto;
  padding: 20px 0 5px 0;
  border-radius: 5px;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

a {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #ffffff;
}

/* Menu */
#menuButton {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: none;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  border: none;
  outline: none;
  color: #c7c4e8;
}

#menu {
  width: 100vw;
  height: 100vh;
  padding: 100px 20px 20px 20px;
  background-color: #1d8fd5;
  position: fixed;
  top: 0;
  left: 0;
  transition: transform 0.3s cubic-bezier(0, 0.1, 0.5, 1);
  overflow: scroll;
  z-index: 1000;
  text-align: left;
  color: #f8f1ff;
}

#menu.hide {
  transform: translate3d(-200vw, 0, 0);
}

#menu.show {
  transform: translate3d(0vw, 0, 0);
  overflow-y: auto;
}

#menu ul {
  list-style-type: none;
}

#menu h2 {
  text-decoration: underline;
}

#menu p {
  font-weight: bold;
}

#menu a {
  font-weight: bold;
}
